{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "useTabs": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "quoteProps": "consistent",
  "bracketSpacing": true
}