---
import layout from "../layouts/default.astro"

const data = await fetch("http://localhost:4000/api/logs/").then(r => r.json())

---
<layout>
	<h1>Logs</h1>

	{data.map((log) => <a href={"http://localhost:3000/log/"+log}>{log}</a><br/>)}
</layout>
